/*
Theme Name:  Rindu
Theme URI:
Author: DevelPixel
Author URI: 
Description: The 2014 theme for Bootstrap takes us back to the blog, featuring a full range of post formats, each displayed beautifully in their own unique way. Design details abound, starting with a vibrant color scheme and matching header images, beautiful typography and icons, and a flexible layout that looks great on any device, big or small.
Version: 1.0
License: GNU General Public License v2 or later
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: rindu

BLUE: #4cddf3;
*/

/* ======== IMPORT FONT ========== */
 @import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,900);
 @import url(http://fonts.googleapis.com/css?family=Raleway:900,300,700);

/* ======== BOOTSTRAP STYLE ========= */

/*
    NAVBAR
*/
 .navbar.navbar-default {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border: 0;
    background: #25292c;
}
.navbar .navbar-brand {
    font-family:'Raleway', sans-serif;
    padding: 18px 25px;
    padding-right: 30px;
    color:#FCFCFC;
    font-weight: 900;
    text-transform: uppercase;
    height: auto;
    background: #4cddf3;
    outline: 0;
}
.navbar .navbar-brand img {
    margin-right: 5px;
}
.navbar .navbar-brand:hover {
    background: #1d2023;
    color: #FFF;
}
.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 900;
    font-size: 13px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: #4cddf3;
    color: #FFF;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #FFF;
}
.navbar-default .navbar-nav>li>a:focus {
    color: #777;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #FFF;
    background-color: inherit;
}
.navbar-collapse {
    border-top: 0;
    box-shadow: none;
}
/*
===
*/
 .navbar-info {
    padding: 7px 15px;
    background:#202326;
    /*#F5F5F5*/
    margin-bottom: 0;
    font-size: 12px;
}
.navbar-info li {
    list-style: none;
    display: inline;
    margin-left: 5px;
    margin-right: 15px;
    color: #818894;
}
/*
    DROPDOWN MENU
*/
 .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 180px;
    padding: 10px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #4cddf3;
    border: 0;
    border: 0;
    border-radius: 0px;
    -webkit-box-shadow:none;
    box-shadow:none;
    background-clip: padding-box;
}
.dropdown-menu li a {
    padding: 10px 15px;
    color: #FFF;
    font-weight: 700;
    line-height: 25px;
}
/* 
    BUTTON  
*/
 .btn {
    border-radius: 3px;
    font-size: 13px;
    margin: 3px 3px;
    font-weight: 700;
    text-transform: uppercase;
    outline: 0;
}
.btn-dark {
    background: #25292c;
    color: #FFF;
    border-color: #25292c;
}
.btn-dark:hover {
    background: #454545;
    color: #FFF;
    border-color:#454545;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.btn-outline {
    padding: 10px 15px;
    border:1px solid #FFF;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.btn-outline:hover {
    text-decoration: none;
    background: #25292c;
    border-color: #25292c;
}
/*
    FORM
*/
 .form-control {
    height: 38px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
    box-shadow: none;
    -webkit-box-shadow:none;
    border-color: #25292c;
}
label {
    font-weight: 300;
}
/* ======== GENERAL ========== */
 *, *:hover, *:focus, *:active {
    outline: 0;
}
body, html {
    height: 100%;
    width: 100%;
}
body {
    font-family:'Roboto', sans-serif;
    color: #FFF;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
a {
    outline: 0;
    color: #4cddf3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a:hover {
    text-decoration: none;
    color: #AAA;
}
code {
    white-space: inherit;
}
pre {
    margin-top: 20px;
    margin-bottom: 10px;
}
p {
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 23px;
}
.white {
    color: #FFF !important;
}
.light {
    font-weight: 100 !important;
}
.medium {
    font-weight: 300 !important;
}
.main-color {
    color: #4cddf3;
}
.section-wrapper.text-left, .text-left {
    text-align: left;
}
.responsive-video iframe {
    border:0;
}
/* give margin bottom when break into mobile resolution */
 @media(max-width: 768px) {
    .mg-sm {
        margin-bottom: 30px;
    }
    .mg-sm:last-child {
        margin-bottom: 0;
    }
}
/* spacer */
 .spacer {
    display: block;
    width: 100%;
}
.spacer.big {
    height: 100px;
}
.spacer.small {
    height: 20px;
}
.spacer.medium {
    height: 50px;
}
.animatez {
    opacity:0;
    -o-opacity:0;
    -moz-opacity:0;
    -webkit-opacity:0;
    filter:Alpha(opacity=0);
    /* IE8 and earlier */
}
.delay.one {
    animation-delay: 0.15s;
    -o-animation-delay: 0.15s;
    -moz-animation-delay: 0.15s;
    -webkit-animation-delay: 0.15s;
}
.delay.two {
    animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}
.delay.three {
    animation-delay: 0.45s;
    -o-animation-delay: 0.45s;
    -moz-animation-delay: 0.45s;
    -webkit-animation-delay: 0.45s;
}
.delay.four {
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}
.delay.five {
    animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
}
/*
    SUPER SLIDES
*/
 #slides .slides-container {
    display: none;
}
#slides .scrollable {
    *zoom: 1;
    position: relative;
    top: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}
#slides .scrollable:after {
    content:"";
    display: table;
    clear: both;
}
.slides-navigation {
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    /*top: 46%;*/
    bottom: 50px;
    width: 100%;
    outline: 0;
}
.slides-navigation a {
    position: absolute;
    display: block;
    width: 56px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    background: #25292c;
    color: #FFF;
    outline: 0;
}
.slides-navigation a:hover {
    background: #4cddf3;
}
.slides-navigation a.prev {
    padding-right: 5px;
    border-right: 1px solid #1d2023;
    left: 0;
    -webkit-box-shadow: inset -1px 0px 0px 0px rgba(255, 255, 255, 0.05);
    -moz-box-shadow: inset -1px 0px 0px 0px rgba(255, 255, 255, 0.05);
    box-shadow: inset -1px 0px 0px 0px rgba(255, 255, 255, 0.05);
}
.slides-navigation a.next {
    padding-left: 5px;
    border-left: 1px solid #1d2023;
    right: 0;
    -webkit-box-shadow: inset 1px 0px 0px 0px rgba(255, 255, 255, 0.05);
    -moz-box-shadow: inset 1px 0px 0px 0px rgba(255, 255, 255, 0.05);
    box-shadow: inset 1px 0px 0px 0px rgba(255, 255, 255, 0.05);
}
.slides-pagination {
    position: absolute;
    z-index: 2;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 50px;
    padding-top: 15px;
    background: #25292c;
    letter-spacing: -999999999px;
}
.slides-pagination a {
    border-radius: 15px;
    outline: 0;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 4px;
    line-height: 50px;
    content:'';
    overflow: hidden;
    background: #0e1011;
    /* Old browsers */
    background: -moz-linear-gradient(top, #0e1011 0%, #1d2023 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0e1011), color-stop(100%, #1d2023));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0e1011 0%, #1d2023 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0e1011 0%, #1d2023 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0e1011 0%, #1d2023 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #0e1011 0%, #1d2023 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e1011', endColorstr='#1d2023', GradientType=0);
    /* IE6-9 */
    -webkit-box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.14);
    -moz-box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.14);
    box-shadow: inset 0px -1px 0px 0px rgba(255, 255, 255, 0.14);
}
.slides-pagination a.current {
    background: #4cddf3;
    -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.3);
}
/* Fullscreen fixed background */
 .fullscreen-image {
    position: fixed !important;
    z-index: -99;
}
.header-center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
}
.header-center h1, .header-center p {
    color: #FFF;
}
.header-center h1 {
    font-weight: 300;
    font-size: 80px;
    text-transform: uppercase;
}
.header-center h1 span {
    font-weight: 700;
}
@media(max-width: 768px) {
    .header-center h1 {
        font-size: 30px;
    }
    .header-center p {
        display: none;
    }
}
.header-center p {
    font-size: 22px;
    font-weight: 300;
}
.header-center a {
    color: #FFF;
    margin-top: 10%;
    width: 45px;
    height: 45px;
    line-height: 42px;
    text-align: center;
    font-size: 25px;
    display: inline-block;
    border:2px solid #FFF;
    background: rgba(0, 0, 0, 0);
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    outline: 0;
}
.header-center a:hover {
    background: #25292c;
    border-color: #25292c;
    color: #4cddf3;
    outline: 0;
}
/* Animation of the content inside the header */
 .header-center.fade-in {
    zoom: 0;
    animation: fadeit 1s ease-out forwards;
    animation-iteration-count: 1;
    -webkit-animation: fadeit 1s;
    -webkit-animation-iteration-count: 1;
    -moz-animation: fadeit 1s;
    -moz-animation-iteration-count: 1;
    -ms-animation: fadeit 1s;
    -ms-animation-iteration-count: 1;
}
@keyframes fadeit {
    from {
        top:46%;
        filter: alpha(opacity=0);
        opacity: 0;
    }
    to {
        top:50%;
        filter: alpha(opacity=100);
        opacity: 1;
    }
}
@-webkit-keyframes fadeit {
    from {
        top:46%;
        filter: alpha(opacity=0);
        opacity: 0;
    }
    to {
        top:50%;
        filter: alpha(opacity=100);
        opacity: 1;
    }
}
@-moz-keyframes fadeit {
    from {
        top:46%;
        filter: alpha(opacity=0);
        opacity: 0;
    }
    to {
        top:50%;
        filter: alpha(opacity=100);
        opacity: 1;
    }
}
@-ms-keyframes fadeit {
    from {
        top:46%;
        filter: alpha(opacity=0);
        opacity: 0;
    }
    to {
        top:50%;
        filter: alpha(opacity=100);
        opacity: 1;
    }
}
/*
    BACK TO TOP
*/
 .totop {
    position: fixed;
    bottom: 0;
    right: 0px;
    width: 0px;
    height: 0px;
    color: #FFF;
    border-style: solid;
    border-width: 0 0 60px 60px;
    border-color: transparent transparent rgba(18, 24, 24, .4) transparent;
    z-index: 999;
}
.totop span {
    position: relative;
    overflow: hidden;
    font-size: 20px;
    bottom: -27px;
    display: inline-block;
    left: -50px;
    cursor: pointer;
    height: 42px;
    width: 60px;
    line-height: 30px;
    text-align: center;
    z-index: 1000;
}
.totop a {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 60px;
    height: 60px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.totop .first {
    top: 0px;
}
.totop .hover {
    top: 20px;
}
.totop .first i {
    color: #FFF;
}
.totop:hover {
    cursor: pointer;
}
.totop:hover span > a.first {
    top: -20px;
}
.totop:hover span > a.hover {
    top: 0px;
    color: #4cddf3;
}
/* ============= SECTION =============== */
 .section-outter {
    position: relative;
    z-index: 2;
}
.section-wrapper {
    padding-top: 100px;
    background: #2f3238;
    text-align: center;
}
.section-title {
    text-align: center;
    position: relative;
    z-index: 2;
}
.section-title .title {
    font-family:'Raleway', sans-serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: -1px;
    margin-bottom: 0;
    color: #FFF;
}
.section-title .subtitle {
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 0;
    color: #b8b9bc;
}
.title-break {
    border-top: 3px solid #CCC;
    width: 80px;
    margin: 40px auto 100px auto;
    display: inline-block;
}
/*
    SECTION FILL    
*/
 .section-fill {
}
.bg-parallax {
    background-size: cover !important;
    -moz-background-size: cover !important;
    -webkit-background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}
.video-wrapper {
    z-index: 1;
    position: relative;
    overflow: hidden;
}
.bg-video {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    overflow: hidden;
    background-position: center center;
}
.bg-video video {
    position: absolute !important;
    z-index: -3;
    clear: both;
}
.imac-wrapper {
    position: relative;
    height: 300px;
}
.imac-wrapper img {
    position: absolute;
    bottom: -175px;
    left: 50%;
    margin-left: -490px;
}
.imac-wrapper a img {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    max-width: 100%;
}
.imac-wrapper a:hover img {
    bottom: -165px;
}
@media(max-width: 768px) {
    .imac-wrapper {
        height: 200px;
    }
    .imac-wrapper img {
        margin-left: -330px;
        min-width: 650px;
    }
}
.video-overlay {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}
.fill-wrapper {
    padding: 100px 0;
}
/*
    LEFT ICON
*/
 .left-icon {
    text-align: left;
    position: relative;
    padding-left: 60px;
    margin-bottom: 10px;
}
.left-icon h4 {
    margin-bottom: 0;
    margin-top: 20px;
}
.left-icon .icon {
    position: absolute;
    left:0px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 43px;
    text-align: center;
    background: #4cddf3;
    color: #FFF;
    font-size: 20px;
}
/*
    TEAM
*/
 .teams {
    background: #25292c;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
}
.teams .pict {
    position: relative;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
}
.teams .pict img {
    position: relative;
    z-index: -1;
    max-width: 100%;
    width: 100%;
}
.teams h3 {
    color: #202020;
    font-weight: 400;
}
.teams .desc {
    padding:25px;
}
.teams span {
    font-size: 13px;
    font-weight: 700;
    display: block;
    position: relative;
}
.teams .social a {
    width: 31px;
    height: 31px;
    position: relative;
    text-align: center;
    color: #FFF;
    display: inline-block;
    margin-right: 5px;
    margin-top: 20px;
    border-radius: 50%;
    line-height: 28px;
    font-size: 16px;
    border: 1px solid #FFF;
}
.teams .social a:hover {
    background: #FFF;
    color: #202020;
}
/*
    COUNTDOWN
*/
 .countdown-wrapper {
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    background: rgba(37, 41, 44, 0.7);
    width: 100%;
    text-align: center;
}
.countdown-content {
    margin-top: 12%;
}
/* IE7 inline-block hack */
 *+html .styled div {
    display: inline;
    zoom: 1;
}
.styled div span {
    display: block;
    width: 160px;
    margin-top: 10px;
    padding: 8px 12px;
    background: #4cddf3;
    font-size: 17px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    text-shadow: none;
    font-weight: 700;
}
.countdown-wrapper h2 {
    font-size: 40px;
    font-weight: 700;
    color: #FFF;
    text-align: center;
}
.countdown-wrapper h3 {
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}
.styled {
    text-align: center;
    color: #FFF;
}
.styled div {
    display: inline-block;
    margin: 0 10px;
    font-size: 70px;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    background: #25292c;
    padding-top: 15px;
}
/*
    PORTFOLIO
*/
 .portfolio-masonry-wrapper {
    font-size: 0;
    text-align: center;
}
.portfolio-item {
    /*min-width: 19.974335%;
    display: inline-block;*/
    width: 20%;
    margin-right: 0;
    margin-bottom: 0;
    float: left;
}
@media(max-width: 1024px) {
    .portfolio-item {
        width: 25%;
    }
}
@media(max-width: 768px) {
    .portfolio-item {
        width: 33.3333333%;
    }
}
@media(max-width: 500px) {
    .portfolio-item {
        width: 50%;
    }
}
.portfolio-item img {
    width: 100%;
}
/*
    TESTIMONIAL
*/
 .section-testimonial {
    background: url('../images/testi-bg.png') top center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
.testimonial-list {
    padding: 0;
    margin: 0;
    width: 60%;
    margin: 0 auto;
    font-size: 0;
}
.testimonial-list .testimonial-item {
    display: inline-block;
    height: 64px;
    width: 64px;
    white-space: nowrap;
    position: relative;
}
.testimonial-list .testimonial-item .testimonial-icon {
    position: absolute;
    left: 12px;
    top: 0px;
    opacity: 0;
    z-index: 4;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    -o-opacity: 0;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.testimonial-list .testimonial-item a {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: rgba(0, 0, 0, 0);
    outline: 0;
}
.testimonial-list .testimonial-item .testi-link {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -15px;
    z-index: 3;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.testimonial-list .testimonial-item a.current ~ .testi-link, .testimonial-list .testimonial-item a:hover ~ .testi-link {
    bottom: 0;
    background: rgba(76, 221, 243, 0.8);
}
.testimonial-list .testimonial-item a.current ~ .testimonial-icon, .testimonial-list .testimonial-item a:hover ~ .testimonial-icon {
    top: 18px;
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -opacity: 1;
}
.testimonial-slider {
    margin: 5px auto;
    max-width: 700px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.testimonial-slider p {
    font-size: 26px;
    color: #fff;
    font-weight: 300;
    line-height: 38px;
}
.testimonial-slider .testimonial-author {
    display: block;
    text-align: center;
    color: #8e8e90;
    font-size: 14px;
    margin-top: 10px;
    line-height: 32px;
}
/*
    FOOTER
*/
 footer.footer {
    background: #4cddf3;
}
.footer-nav {
    margin: 0;
    padding: 0;
}
.footer-nav li {
    display: inline;
    font-size: 14px;
}
.footer-nav li a {
    color: #FFF;
    display: inline-block;
    margin: 3px 10px;
}
.footer-logo img {
    margin-bottom: 10px;
    text-align: center;
}
.footer-logo span {
    font-size: 13px;
    display: block;
}
.copyright {
    font-size: 12px;
    margin: 0 10px;
    margin-top: 15px;
    margin-bottom: 30px;
}
/* ============ BLOG PAGES =============== */
 .post {
    display: block;
    margin-left: 130px;
    position: relative;
    text-align: left;
}
.post {
    border-bottom: 1px solid #EDEDED;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.post figure {
    margin-bottom: 20px;
    position: relative;
}
.post figure img {
    width: 100%;
}
.post .post-meta {
    width: 100px;
    position: absolute;
    top: 0;
    left: -130px;
}
.post .post-meta .post-icon {
    width: 50px;
    height: 50px;
    color: #FFF;
    font-size: 24px;
    text-align: center;
    line-height: 53px;
    background: #25292c;
    display: inline-block;
    margin-bottom: 12px;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.post .post-meta .post-icon:hover {
    background: #4cddf3;
}
.post .post-meta h5 {
    font-size: 13px;
    margin-bottom: 3px;
    margin-top: 5px;
    font-weight: 700;
}
.post .post-meta span {
    font-size: 13px;
    font-weight: 300;
}
.post .post-meta span a {
    color: #4cddf3;
}
.post .post-title {
    font-size: 22px;
    line-height: 20px;
}
.post .post-title a {
    color: #FFF;
}
.post .post-title a:hover {
    color: #DDD;
}
.post pre {
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 0;
}
.post .read-more {
    padding:4px 7px;
    border:1px solid #4cddf3;
    display: inline-block;
    font-size: 14px;
}
@media (max-width: 768px) {
    .post {
        margin-left: 0;
    }
    .post .post-meta {
        display: block;
        margin: 10px 0;
        width: 100%;
        position: relative;
        left: 0;
    }
    .post .post-meta h5, .post .post-meta span {
        display: inline;
    }
    .post .post-meta span {
        margin-right: 13px;
        padding-left: 5px;
    }
    .post .post-meta .post-icon {
        display: none;
    }
}
/*
    BLOG AUTHOR
*/
 .post-author {
    padding: 0 20px 40px 20px;
    border: 1px solid #222;
    position: relative;
    background: #25292c;
}
.post-author .blog-author-content {
    position: relative;
    display: block;
}
.post-author figure {
    width: 120px;
    position: relative;
}
.post-author .blog-author-info {
    margin-left: 120px;
    position: absolute;
    top: 0;
}
.post-author .media-heading a {
    color: #FFF;
}
.post-author .blog-author-info p {
    position: relative;
}
/* BLOG COMMENTS */
 .blog-comments > h2 span {
    font-size: 13px;
    display: block;
    margin-top: 10px;
}
.blog-comments form {
    margin-bottom: 40px;
}
.blog-comments .blog-comment-content figure img {
    border-radius: 50%;
    width: 75px;
    height: auto;
}
.blog-comments .blog-comment-content .comment-meta {
    display: block;
}
.blog-comments .blog-comment-content .comment-meta .media-heading {
    display: inline-block;
}
.blog-comments .blog-comment-content .comment-meta .in-reply, .blog-comments .blog-comment-content .comment-meta span.time {
    font-size: 12px;
    padding-left:15px;
}
.blog-comments .blog-comment-content .comment-meta .comment-extra {
    display: inline-block;
}
.blog-comments .blog-comment-content .media-list li {
    padding: 15px;
}
.blog-comments .blog-comment-content .media-list li:nth-child(2n+1) {
    background: #25292c;
}
.blog-comments .blog-comment-content .media-body .media-heading a {
    color: #FFF;
    padding-bottom: 1px;
    border-bottom: 1px dotted #85939b;
}
/*
    WIDGET
*/
 .widget {
    display: block;
    margin-bottom: 40px;
    text-align: left;
}
.widget .widget-title {
    margin-top: 0;
    font-size: 16px;
    font-weight: 700;
}
.widget ul {
    padding: 0;
    margin: 0;
}
.widget ul li {
    list-style: none;
}
.widget .input-default {
    border-radius: 3px;
    padding: 3px;
    border:none;
    display: inline-block;
}
.audio-wrapper {
    width: 90%;
    left: 5%;
    top: 80%;
    float: left;
    clear: both;
    position: absolute;
    background: #474747;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ3NDc0NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNjM2MzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #474747 0%, #363636 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #474747), color-stop(100%, #363636));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #474747 0%, #363636 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #474747 0%, #363636 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #474747 0%, #363636 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #474747 0%, #363636 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#474747', endColorstr='#363636', GradientType=0);
    /* IE6-8 */
    height: 50px;
    box-shadow: 0px 0px 3px #1E1E1E;
    -webkit-box-shadow: 0px 0px 3px #1e1e1e;
}
.audio-wrapper > div {
    box-shadow: inset 1px 1px 1px #5F5F5F;
    padding-bottom: 10px;
}
/* Start: CONTROL BAR */
 .mejs-container .mejs-controls {
    position: absolute;
    list-style-type: none;
}
.mejs-container .mejs-controls div {
    display: block;
    float: left;
}
.mejs-controls .mejs-button button {
    cursor: pointer;
    display: block;
}
.mejs-controls .mejs-time-rail span {
    display: block;
    position: absolute;
    cursor: pointer;
}
.mejs-controls .mejs-time-rail .mejs-time-total {
    background: transparent;
}
.mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: transparent;
    width: 0;
}
.mejs-controls .mejs-time-rail .mejs-time-current {
    background: transparent;
    width: 0;
}
.mejs-controls .mejs-volume-button:hover {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
/* end media element reset */

/* media element controls wrapper */
 .mejs-controls {
    position: relative;
    height: 15px;
    margin-top: 15px;
    width: 96%;
    margin-left: 2.5%;
    float: left;
    background: transparent;
}
/* play button */
 .mejs-controls .mejs-play button {
    width: 21px;
    height: 21px;
    margin-top: 3px;
    margin-left: 3px;
    background: url(../images/play-small.png) 0 0 no-repeat;
    border: none;
    outline: none;
    float: left;
}
/* pause button */
 .mejs-controls .mejs-pause button {
    width: 21px;
    height: 21px;
    margin-top: 3px;
    margin-left: 3px;
    background: url(../images/pause.png) 0 0 no-repeat;
    border: none;
    outline: none;
    float: left;
}
.mejs-audio {
    width: 100% !important;
    margin: 0px;
    float: left;
    position: relative;
    left: 0px;
}
.mejs-controls .mejs-time-float, .mejs-controls .mejs-time-handle, .mejs-controls .mejs-time {
    display: none !important;
}
/* progress bar wrapper */
 .mejs-controls .mejs-time-rail {
    position: relative;
    background: none;
    width: 70% !important;
    float: left;
    margin-left: 1.5%;
    clear: none;
    margin-top: 3px;
    height: 13px;
    overflow: hidden;
    padding: 1px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    display: block;
    border-bottom: 1px solid #3F3F3F;
    border-right: 1px solid #3F3F3F;
    box-shadow: inset 0px 0px 16px #121212;
    -webkit-box-shadow: inset 0px 0px 16px #121212;
}
.mejs-controls .mejs-time-rail .mejs-time-buffering, .mejs-controls .mejs-time-rail .mejs-time-loaded, .mejs-controls .mejs-time-rail .mejs-time-current {
    height: 13px;
}
/* progress */
 .mejs-controls .mejs-time-rail .mejs-time-buffering {
    background: none;
}
.mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: none;
}
.mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: none;
}
.mejs-controls .mejs-time-rail .mejs-time-current {
    background-color: #4cddf3;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
/* audio bar */
 .mejs-controls .mejs-volume-button {
    float: left;
    position: absolute;
    left: 78%;
    top: 3px;
}
.mejs-controls .mejs-mute button, .mejs-controls .mejs-unmute button {
    width: 19px;
    height: 14px;
    border: none;
    outline: none;
    top: 14px;
    left: 588px;
}
.mejs-controls .mejs-mute button {
    background: url(../images/volume.png) no-repeat;
}
.mejs-controls .mejs-unmute button {
    background: url(../images/volume-muted.png) no-repeat;
}
.mejs-horizontal-volume-slider {
    box-shadow: inset 0px 0px 16px #121212;
    -webkit-box-shadow: inset 0px 0px 16px #121212;
    display: block;
    position: relative;
    height: 16px;
    width: 90px;
    left: 8%;
    margin-top: 2px;
    border-radius: 3px;
}
.mejs-horizontal-volume-total {
    height: 12px;
    display: block;
    width: 100%;
    position: relative;
    cursor: pointer;
    width: 100%;
}
.mejs-horizontal-volume-current {
    background: #4cddf3;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 14px;
    display: block;
    position: absolute;
    cursor: pointer;
    top: 1px;
    left: 0px;
}
@media (max-width: 768px) {
    .mejs-controls .mejs-time-rail {
        width: 45% !important;
    }
    .mejs-horizontal-volume-slider {
        display: none !important;
    }
    .mejs-controls .mejs-volume-button {
        left: 55%;
    }
}
/* ============== SHORTCODES ============= */

/*
    SKILL BAR
*/
 .skill-bar ul {
    list-style: none;
    padding: 0;
}
.skill-bar ul li {
    height: 35px;
    line-height: 35px;
    width: 100%;
    background: #25292c;
    position: relative;
    margin-bottom: 15px;
}
.skill-bar ul li h5 {
    margin: 0;
    color: #FFF;
    line-height: 35px;
    position: absolute;
    font-weight: 700;
    /*text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);*/
}
.skill-bar ul li .bar {
    padding-left: 15px;
    height: 100%;
    background: #4cddf3;
    width: 0%;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.skill-bar ul li span {
    position: absolute;
    top: 0;
    right: 20px;
    color: #FFF;
}
/* NEW */
 .fullfilter {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(37, 41, 44, 0.7);
    z-index: 1;
}
.content-home-wrapper {
    z-index: 3;
    position: relative;
    width: 100%;
    height: 100%;
}
.home-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home-wrapper {
    display: block;
    position: relative;
    min-height: 200px;
    height: 100%;
    width: 100%;
}
.home-video {
    position: relative;
    height: 100%;
    display: block;
}
.outter {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}
.og-grid li.og-expanded > a::after {
    top: auto;
    border: solid transparent;
    content:" ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #202020;
    border-width: 15px;
    left: 50%;
    z-index: 11;
    margin: -20px 0 0 -15px;
}
.og-expander {
    position: absolute;
    background: #202020;
    top: auto;
    left: 0;
    width: 100%;
    margin-top: 9px;
    text-align: left;
    height: 0;
    overflow: hidden;
}
/*
    BOOTSTRAP THEMING
*/

/*
    ACCORDION
*/
 .panel-group .panel {
    margin-bottom: 5px;
}
.panel-group p {
    font-size: 16px;
}
.panel-group .panel {
    border:0;
    border-radius: 0;
    margin-top: 0 !important;
}
.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.panel-heading {
    border-radius: 0;
    border-top:1px solid transparent;
    padding: 0;
}
.panel-default>.panel-heading {
    color: #25292c;
    background-color: #3a3e45;
    border-color: transparent;
}
.panel-title {
    font-size: 16px;
    color: inherit;
    font-weight: 700;
    display: block;
}
.panel-title a {
    display: block;
    padding: 20px;
}
.panel-body {
    background: #25292c;
}
.panel-group .panel-heading+.panel-collapse .panel-body {
    border-top: 0;
}
/*
    NAV TABS
*/
 .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: #25292c;
    color: #3a3e45;
    border-radius: 0;
    webkit-border-radius: 0;
    border-top: 0;
    border-left: none;
    border-bottom: 0;
    border-right: 0;
}
.nav-tabs {
    border-bottom: 0;
    overflow: hidden;
}
@media screen and (max-width: 440px) {
    .nav-tabs li {
        width: 30%;
    }
}
.nav-tabs > li > a {
    font-family:'Raleway', sans-serif;
    font-size: 16px;
    color: inherit;
    background: #3a3e45;
    font-weight: 700;
    border-left: none;
    margin: 0;
    margin-right: 5px;
    padding: 15px 20px;
    border-radius: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nav-tabs > li.active:first-child > a:hover {
    border-left: 0;
    border-bottom: 0;
}
.nav-tabs > li > a {
    border-bottom: 1px solid #CCC;
    border:0;
    color: #25292c;
}
.nav-tabs > li > a:hover {
    color: #FFF;
    background: #3a3e45;
    border-top: 0;
    border-right: 0;
    border-left: none;
    border:0;
}
.nav-tabs > li:first-child > a {
    border-left: 0;
}
.tab-content {
    background: #25292c;
    padding: 15px;
    border:0;
}
/*
    ALERTS
*/
 .alert {
    border-radius: 0;
    padding: 20px;
    margin-bottom: 10px;
    border:none;
    color: #FFF;
    font-size: 16px;
}
.alert-dismissable .close {
    right: -21px;
    top: -21px;
    width: 31px;
    height: 31px;
    background: #1A1E22;
    color: inherit;
    opacity: 1;
    text-shadow: none;
}
.alert-warning {
    background: #deb14d;
}
.alert-success {
    background: #70bc70;
}
.alert-info {
    background: #52adda;
}
.alert-danger {
    background: #c46868;
}
/*
    TOOLTIP
*/
 .tooltip {
    font-size: 14px;
}
.tooltip-inner {
    padding: 15px 15px;
    border-radius: 0;
    background: #1A1E22;
}
.tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100);
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top-color: #1A1E22;
    border-width: 5px 5px 0;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #1A1E22;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #1A1E22;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #1A1E22;
}
/*
    LABEL
*/
 .label {
    padding: 5px 8px;
    border-radius: 0;
}
.label-warning {
    background: #deb14d;
}
.label-info {
    background: #52adda;
}
.label-success {
    background: #70bc70;
}
.label-danger {
    background: #c46868;
}
/*
    PROGRESS BAR
*/
 .progress {
    height: 25px;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.2);
}
.progress-bar {
    padding: 20px;
}
/*
    PANEL
*/
 .panel {
    border-radius: 0;
}
.panel .panel-heading {
    border-radius: 0;
}
.panel .panel-heading h3 {
    padding: 10px;
}
/*
    WELL
*/
 .well {
    border-radius: 0;
    background: #25292c;
    border:1px solid #3E3E45;
}
/*
    PAGINATION
*/
 .pagination {
    width: 100%;
    padding: 6px;
    border-radius: 0;
}
.pagination .pag-prev a, .pagination .pag-next a {
    background: #4cddf3;
    color: #FFF;
    border-color:#4cddf3;
}
.pagination .pag-prev a:hover, .pagination .pag-next a:hover {
    border-color: #DDD;
}
.pagination li.active a {
    background: #EEE;
    color: #111;
    border-color: #DDD;
    pointer-events: none;
}
.pagination li a {
    margin: 0 3px;
    border-color: #EDEDED;
    color: #111;
    font-size: 13px;
    border-radius: 3px;
    margin: 3px;
}
.pagination li a:hover {
    background: #EEE;
    color: #111;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
/*
    ICON
*/
 .bs-glyphicons {
    margin: 0 -19px 20px -16px;
    overflow: hidden;
}
.bs-glyphicons-list {
    padding-left: 0;
    list-style: none;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
.bs-glyphicons li {
    float: left;
    width: 25%;
    height: 115px;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    border: 1px solid #3a3e45;
    background-color: #25292c;
}
/*
    TABLE
*/
 .table.table-bordered {
    background: #25292c;
}
.table-bordered {
    border: 1px solid #3a3e45;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #3a3e45;
}
